<div class="card">
    <div class="col">
<mat-form-field>
    <input matInput [(ngModel)]="nombre" type="text" placeholder="Nombre">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="boletos" type="number" placeholder="Numero de boletos">
</mat-form-field>
<mat-form-field>
    <input matInput [(ngModel)]="personas" type="number" placeholder="Numero de personas">
</mat-form-field>
<h2>Usas tarjeta de cine?</h2>
<mat-radio-group [(ngModel)]="tarjeta">
    <mat-radio-button value="si">Si</mat-radio-button>
    <mat-radio-button value="no">No</mat-radio-button>
</mat-radio-group>
<br>
<p *ngIf="total">El total a pagar es: {{ total }}</p>
<p *ngIf="mensaje">{{ mensaje }}</p>

<button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
</div>
</div>

