<div class="card">
    <div class="col">
        <mat-form-field>
            <mat-label for="" class="form-label"> x1 </mat-label>
            <input matInput placeholder="X1" type="number" [(ngModel)]="x1">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="" class="form-label"> x2 </mat-label>
            <input matInput placeholder="y1" type="number" [(ngModel)]="y1">
        </mat-form-field>

       
        <mat-form-field>
            <mat-label for="" class="form-label"> y1 </mat-label>
            <input matInput placeholder="X2" type="number" [(ngModel)]="x2">
        </mat-form-field>

        <mat-form-field>
            <mat-label for="" class="form-label"> y2 </mat-label>
            <input matInput placeholder="y2" type="number" [(ngModel)]="y2">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
      <h2> {{resultado}} </h2>
      </div>
  </div>
